span.bold
{
	font-weight: bold; 
	font-size: large; 
}

span.underline
{
	text-decoration:underline;
}

caption
{
	font-style: italic; 
}

a.linkA:link, a.linkA:visited, a.linkA:hover, a.linkA:active   { 
	text-decoration: none; 
	color: #003366; 
	cursor: pointer;
}

body
{
	background-color: #FFFFCC;
}

li.linkLiSubSub
{	
    text-indent: -5px;
}

li.linkLiSub
{	
    text-indent: -3px;
}

li.linkLi
{	
    text-indent: -1px;
}